#container{
    width:1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.img{
    position: absolute; 
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: 5s;
}
#blur{
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
}
/*#container:hover .img{
    transform: scale(1.2);
}*/
.zoom{
    /*transition: 5s;*/
    transform: scale(1.2);
}