#container{
    width:1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.img{
    position: absolute; 
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: 3s ease;
    animation: animateimg 10s infinite;
}
#blur{
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
}

@keyframes animateimg{
0%{
    opacity: 0.2;
    transform:scale(1);
}
50%{
    opacity: 1;
    transform:scale(1.2);
}
100%{
    opacity: 0.2;
    transform: scale(1);

}
}