.container-fluid,.row,.row3,.row3col1{
    padding:0px;
    margin: 0px;
}

.row1{
    background-color:#ccc;
    padding:10px;
}
.row1col1{
    padding-left:120px;   
}
.row1col2 i{
    color:#fcb41e;
}
.row1col3{
    margin-left: -50px;
    color:#fcb41e;
    
}
/*row1 ended*/
.row2{
    display: flex;
     align-items: center;
    padding:23px;
    background-color: #fff;
}
.row2col2 nav>ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    position: relative;
}
ul ul{
    display: none;
    list-style-type: none;
    padding: 0px;
    z-index: 5px;
}
.openmenu:hover ul{
    
    display: block;
    position: absolute;
}
nav ul a{  
    font-size: 12px;
    text-decoration: none;
    padding:5px;
    display: inline-block;
    color:#333;
    width:90px;
    border-radius: 20px;
    text-align: center;
    margin-left: 15px;
}
nav ul a{
    text-decoration: none;
}
.logoimg{
    text-align: center;
}
.logoimg img{
    width:80px;
    height: 30px;
}
.active{
    background-color: #fcb41e;
    color:#fff;
}
/*row2 ended*/
/*row3 started*/

.slider{
    position: relative;
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.slider img{
    width:100%;
}
.slidertxt{
    
    color:#fff;
    text-align: center;
    position: absolute;
    font-size: 50px;
    
}
.slidertxt span{
    color:#fcb41e;
}
.slidertxt p{
    font-size: 15px;

}
.slidertxt a{
    background-color: red;
    color:#fff;
    border-radius: 100px;
    text-decoration: none;
    padding:8px 30px;
    font-size: 10px;
}
/*Row3 completed*/
/*Row4 started*/
.row4{
    text-align: center;
    font-family: "Vidaloka", serif;
}
.row4 h4{
    font-size: 30px;
}
.row4 h4 span{
    color:#fcb41e;
}
.row4 h3{
    font-size: 12px;
    font-family: sans-serif;
}
/*row4 ended*/
/*Row5 started*/
.row5{
    display: flex;
    justify-content: center;
}
.row5 div{
    text-align: center;
    width:25%;
    padding:50px 0px;
    border-radius: 10px;
    margin:10px;
    color:#fff;

}
.row5col1{
    background-color: #fcb41e;
}
.row5col2{
    background-color: #76c1d1;
}
.row5col3{
    background-color: #ff635c;
}
.row5col4{
    background-color: #5d5167;
}
/*Row5 ended*/
/*Row6 Started*/
.row6{
    text-align: center;

}
.row6 h1{
    font-size: 40px;

}
.row6 h1 span{
    color:#fcb41e;
}
.row6 p{
    text-align: center;
    width:50%;
    margin:auto;
    padding: 20px;
}
/*Row6 Ended*/
/*Row7 Started*/
.row7{
    text-align: center;
}
.row7 i{
    font-size: 100px;
}
/*Row7 Ended*/
/*Row8 Started*/
.row8 .number{
    text-align: center;
    display: inline-block;
    width:30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: #fcb41e;
    color:#fff;
    /*padding:6px;*/
}
.row8 .line{
    margin-left: 30px;
    display: inline-block;
    background:red;
    height: 1px;
    width:100px;
}

/*Row8 Ended*/
/*Row9 Started*/
.row9col1 .row9nested div{
text-align: center;
}
.row9col1 .row9nested div h3{
    margin:0 0 60px 0;
    font-weight:900;
    font-size:36px;
    line-height: normal;
    color:#333333;
}
.row9nested2 div{
    text-align: center;
}
.row9nested2 div h3
{margin:0 0 40px 0;font-weight:700;font-size:24px;line-height: normal;color:#333333;}

.tablebtn{
    display: inline; 
    text-align:center;
    display:block;
}
.tablebtn a{
    font-size:16px;
    line-height:16px;
    color:#000000;
    background:#ffcc00;
    border-radius:4px;
    font-weight:700;
    margin:60px 0 0 0;
    padding:16px 25px;
    display:inline-block;
}
/*row9 ended*/
/*row10 started*/
.row10nested{
    text-align: center;
    font-family: "Vidaloka", serif;
}
.row10nested2{
    display: flex;
    justify-content: center;
}
.row10nestedcol1{
    background-image: url("img/gallery1.jpg");
    width:25%;
    height: 200px;
    background-size: cover;

}
.row10nestedcol2{
    background-image: url("img/gallery2.jpg");
    width:25%;
    height: 200px;
    background-size: cover;

}
.row10nestedcol3{
    background-image: url("img/gallery3.jpg");
    width:25%;
    height: 200px;
    background-size: cover;

}
.row10nestedcol4{
    background-image: url("img/gallery4.jpg");
    width:25%;
    height: 200px;
    background-size: cover;

}
.row10nested2 .col-md-3{
    margin:10px;    
}
/*Row10 ended*/
/*Row11 started*/
.row11col1{
    text-align: center;
}
.row11col1 h2 span{
    color:#ffcc00;
}
.row11col1 a{
    color:#fff;
    background-color: #ff635c;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 30px;
}
/*row11 ended*/
/*row12 started*/
.row12{
    margin-top: 20px;
     height: 500px;
     background: red;
}
.row12img{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.row12 img{
    height: 100%;
}
.row12 .row12col2{
    background-color: #75c1d1;
   height: 100%;
}
input[type="text"]{
    padding: 25px 18px;
    width:80% !important;
    text-align: left;
    font-weight: 600;
    border-radius: 3em;
    border: 1px solid transparent;
}
form{
    width:90%;
}
.row12heading{
    text-align: center;
}
textarea{
     text-align: left;
     padding: 25px 28px !important;
 border-radius:3em !important;
 border: 1px solid transparent;
 margin-top: 20px;
}
form input[type="button"]{
    background-color: #ea4e47;
    color:#fff;
    outline: 0px;
    border:0px;
    padding:15px 40px;
        font-family: Montserrat;
    border-radius: 50px;
    margin-top: 20px;
}
.formbtn{
    text-align: center;
}
/*row12 ended*/
/*row13 started*/
.row13{
    
    padding:20px 20px;
    display: flex;
    justify-content: center;
    background-color: #ccc;

}
.row13 i{
    margin-top: 20px;
    font-size: 40px;
    color:#ea4e47;
}
.row13 h1{
    font-size: 20px;
    line-height: 50px;
}
.row13 div{
    border-radius: 20px;
    background-color: #fff;
    margin:10px;
    width:20%;
    text-align: center;
    padding-bottom: 20px;
}
.row14col1{
    padding:0px;
}
.map{
    width:100%;
    height:300px;
    background:yellow;
}
/*Row13 ended*/
/*row14 started*/