*{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding:0px;
    width:100%;
}
header nav{
    width:100%;
    float: left;
    /*background: gold;*/
}
header nav ul{
    float: right;
    margin: 0px;
    /*margin-right: */
    padding: 0px;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 14px;
}
.profile{
    border-radius: 100px;
   
}
.notification{
    background: black;
    opacity: 0.7;
    border-radius: 100px;
    width:20px;
    height: 20px;
    padding: 2px;
    position: relative;
    top: 8px;
}
.notification:hover{
    opacity: 1;
}
.apps{
    opacity: 0.85;
    width:30px;
    position: relative;
    top: 4px;
    height: 30px;
}
#gmail a,#hasnain ,#image a{
    position: relative;
    top:10px;
    text-decoration: none;
    color:#585858;
}
#gmail a:hover,#image a:hover{
    text-decoration: underline;
}
header nav ul li{
    float: left;
    margin-right: 13px;
    margin-top:10px;

}
header nav ul li a img{
    width:35px;
    height: 35px;
}
section{
        float: left;    
        position: relative;
            /*width:100%;*/
            left:50%;
        /*background: magenta*/
}
#google{
    float: left;
    line-height: 50px;
    position: relative;
    right: 50%;
    margin-top: 30%;
    /*background: darkred;*/
}
#pakistan{
    position: absolute;
    top:160px;
    left:75px;
       color: #4285f4;
    font-family: sans-serif;
}
#form{
    width:100%;
    float: left;

}
form{
        float: left;
    position: relative;
    left:50%;
}
input[type="text"]{
    float: left;
    position: relative;
    right: 50%;
    width:417px;
    padding: 9px 0px 9px 0px;

}
#main{
    width:100%;
    float: left;
    /*background: gray;*/
    margin-top:20px;
    
}
#mbtn{
    float: left;
    position:relative;
    /*background: lemonchiffon;*/
    left:50%;
}
#btn{
    float: left;
    /*background: lightcoral;*/
    position:relative;
    right:50%;
}
input[type="button"]{
    padding: 10px;
        background: #f1f1f1;
        border-radius: 5px;
        color:#6f6a6a;
        font-weight: bold;
    border:0px;
}
input[type="button"]:hover{
    color:black;
    cursor: pointer;
      border:0.07px solid #C6C6C6;
}
footer{
   background: #f2f2f2;
     clear: both;
    position: fixed;
    bottom: 0;
    /*text-align: center;*/
    width: 100%;
    border-top: 1px solid #e4e4e4;
}
footer nav ul{
    list-style-type: none;
    padding: 0px;
}
nav#left{
  float: left;
  /*margin-left:20px;*/
}
#left li{
    margin-left:20px;
}
nav#right{
    float: right;
    
}
#right li{
    margin-right:20px;
}
footer ul li{
    display: inline;
}

#mic{
    background-image: url(images/mic.png) ;
    background-position: 370px 1px;
    background-repeat: no-repeat;
    background-size: 28px;
}
/*body,header,nav {padding:0;margin:0 ;background-color}
ul.inline li {display:inline;padding:5px}
nav {float:right ;}
.profile {border-radius:50% ;width:35px;height:35px}
a:link{color:blue;text-decoration: none ;opacity:0.7;}
a:visited{color:gray;}
a:hover{color:black;text-decoration:underline ;opacity:1}
a:active{color:black}
.notification{background-color: black;border-radius:50%;width:25px;height:25px}
.apps{width:25px;height:25px}
.disable{color:gray}

.google {display:table;width:;height: 45;padding:160px 200px 0px 375px;position: absolute;}
.pakistan{display: table;padding:167px 150px 20px 585px ;color:blue;margin:0;font-family: sans-serif}
.search input {
   background-color; padding: 9px 0 9px 5px;width:400px;
}
.search{
    padding:10px 0px 0px 300px;position: absolute;
}
footer {
    position: fixed ;background-color:#e4e4e4 ;width:1024px;height:70px;
}
li{display: inline}
.footer{
    padding-top:400px;
}
.left{
    float: left; word-spacing: 6px
}
.right{
    float:right;word-spacing: 6px;padding-right:20px
}
.Google-Search{border:0px solid lightslategray; background-color:#f1f1f1;padding:10px;font-size:15px;color:rgb(102, 102, 102)}
.table{
    padding: 75px 0px 25px 380px ;background-color:;font-family: sans-serif;
}
.avalaible{
    padding-top:15px;
    padding-left:5px;
}*/