.container-fluid,.row{
    margin:0px;
    padding: 0px;
}
header{
    background-image: url("img/demo3.jpg");
    background-size: 100% 100%;
    background-repeat: none;
    text-align: center;
    padding:319px 0px;
    position: relative;
}
.overlay{
    padding:100px 0px;
    position: absolute;
    left:0px;
    top: 0px;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3)
}
.txt1{
    margin: auto;
    color:#fff;
    background-color: rgba(0, 0,65, 0.17);
    padding-top: 150px;
    border-radius: 100%;
    width:490px;
    height: 490px;
    box-shadow: 7px 7px 88px rgba(0,0,0,13);
}
.txt1 h1{
    font-size: 25px;
}
.navbar-right{
    padding-right: 20px;
}
.btn-circle{
    outline: 0px;
    margin-top:50px;
    border:1px solid rgba(0, 0,255, 0.17);
    background-color:rgba(0, 0, 0, 0.25);
    color:  rgb(195, 195, 247);
}
.btn-circle:hover{
    background-color: rgba(0, 0,255, 0.17);
     border:1px solid rgba(0, 0,0, 0);
     color:#fff;
}
.btn-circle:active,.btn-circle:focus{
    color: #fff;
    outline: 0px;    
    border:0px;
    background-color: rgb(73, 73, 125);
}
.sec1{
    padding: 100px 0px;
    background-image: -webkit-linear-gradient(right, #68bcff, #5baef1);
    background-image: -moz-linear-gradient(right, #68bcff, #5baef1);
    background-image: -o-linear-gradient(right, #68bcff, #5baef1);
    background-image: linear-gradient(to left, #68bcff, #5baef1);
}
.aside{
    border-left:1px dashed black;
}
#img{
    transform: scale(1,1);
}
p{
    width:100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    overflow: auto;
}