.paddingoff{
    padding: 0px;
}
.nav .navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: none;
}
header{
    position: relative;
     width: 100%;
     height: 900px;
    /*min-height: auto;*/
  background: url("img/bg-pattern.png"),linear-gradient(to left, #7b4397, #dc2430);
  color: white;
}
nav{
    background-color: transparent !important;
    color:#333 !important;
}
.header-content{
    background-color: red;
    margin-top:70px;
}

@media(max-width:320px){
    .nav li {
             float: none;
            display: block;
            width: 100%;
    }
}
