*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
	 background-image:url("bac4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-size: cover;
    font-size: 13px;
}
#container{
    background: rgba(23, 22, 22, 0.80);
    overflow: hidden;
}
#container::after{
    visibility: hidden;
    display: block;
    clear :both;
    content:"";
}
header{
    width:100%;
    height: 150px;
	background: rgba(23, 22, 22, 0.90);
	background-image: linear-gradient(#272727,#636363);
}
#logo{
    float: left;
}
#logo>img{
    width:200px;
    height: 120px;
    float: left;
    margin-left:5px;
    margin-top:10px;
}
#logo>h1{
    display: inline-block;
    color:#666;
	color:lightseagreen;
    font-size:55px;
    font-family: sans-serif;
	font-family:Copperplate Gothic Bold;
	margin-left:100px;
	margin-top:50px;
}

/*search div start*/
#signupsignin{
    width:20%;
   float: right;
   margin-top:75px;
}
#signin,.signupbtn{
    color:lightseagreen;
    background:none;
    border:1px solid lightseagreen;
    outline: 0px;
    float: right;
    width:80px;
    height: 30px;
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
#signin:hover,.signupbtn:hover{
    background-color: #fff;
    color:lightseagreen;
}
.signupbtn{
    float: left;
}

/*search div start*/
/*slider start*/
#slider{
    float: left;
    width:100%;
    height: 400px;
    user-select: none;
}
#prev,#next{
    background-color:none;
    color:#ccc;
    font-size: 30px;
    padding: 175px 20px;
    cursor: pointer;
    user-select: none;
}

#prev:hover,#next:hover{
    background-color: rgba(222, 222, 222, 0.5);
    color:#222;
}
#prev:hover,#prev:active{
    box-shadow: 2px 0px 10px black;;
}
#next:hover,#next:active{
    box-shadow: -2px 0px 10px black;;
}
#slider>img{
    width:100%;
    height: inherit;
}
#dots>span{
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:black;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}
#dots{
    align-self: flex-end;
}
#slidernavigators{
    position: absolute;
    top:205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 290px;
}
/* Slider ended and nav start */  
/*navigation bar satrted*/
nav{ 
    display: inline-block;
	
	background-image: url("bac4.jpg");
     
    width:100%;
   
   
}
nav>ul{
    padding: 0px;
    list-style-type: none;
    float: left;
    position: relative;
    left:50%;
}
nav>ul>li{
    float: left;
    position: relative;
    right: 50%;
}
nav>ul>li>a{
    text-decoration: none;
    float: left;
    padding: 10px 40px;
	background: rgba(23, 22, 22, 0.35);
    color:#ccc;
    font-family: sans-serif;
	font-size:16px;
    transition: 0.5s ease; 
    
}
nav>ul>li>a:hover{
    background-color:white;
     color:#1b1919;
     transition: 0.5s ease; 
}
.nested{
    list-style-type: none;
    padding: 0px;
    text-align: center;
    display: none;
    position: absolute;
    top:35px;
    width:122px;
    z-index: 99;
}
.activenav{
    background: red !important;
}
.nested a:hover{
    background-image: linear-gradient(#ccc,#fff);
     color:#222;
}
.nested li{
     background-image: url("img/background.jpg");
     box-shadow: 10px 10px 10px black;
     transition: 0.5s;
}
.nested li:hover{
    position: relative;
    left:10px;
    
}
.hide:hover .nested{
    display: block;
    
}
.nested a{
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 10px ;
}
/*navbar Ended*/


/*Aside start*/
aside{
    float: left;
    width:18%;
}
#brand{
    position: relative;
    left:10px;
    transition: 0.5s;
}
#brand h1{
    position: relative;
	/*text-shadow: -2px 4px 7px seagreen;*/
    top:-5px;
    display: inline-block;
    font-size: 25px;    
    font-family: serif;
	/*font-family:Comic Sans Ms;*/
    color:#fff;
    margin-left:5px;   
}

#brand img{
    width: 30px;
}
#brand:hover{
    left:20px;
}

aside>ul>li{
    margin:30px;
    color:lightseagreen;
    position: relative;
    left:0px;
    transition: 0.5s;
    width:100px;
	font-family:Copperplate Gothic Bold;
	font-weight:600;
	/*text-shadow: -2px 4px 7px seagreen;*/
    
}
aside>ul>li:hover{
    left:10px;
    color:white;
}
aside>ul>li:hover a{
    color:lightseagreen;
	/*text-shadow: -2px 4px 7px white;*/
}
aside>ul>li>a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}
/*images sections start*/
article{
    float: left;
    width:82%;
    padding-left:10px;
    border-left:2px dashed gray;
}
article section{
    border:1px solid #fff;
    padding: 10px;
    float: left;
    margin:10px 15px;
    width: 28%;
  height: 250px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color:#fff;
  border:2px solid seagreen;
  
}
.brands{
    color:#fff;
    background-image: linear-gradient(#272727,#636363);
    font-size: 22px;
    padding: 5px;
	font-family:Copperplate Gothic Bold;
	margin-top:-8px;
	width:278px;
	margin-left:-8px;
		
}
section img{
  width:100%;
  height: 220px;
  display: block;
  position: relative;
  transition: all 0.2s ease-in;
}
section .imgcontent{
    width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
    display: block;
    color:white;
    position: absolute;  /* to place a div over image use relative to the parent and*/ 
    top:0;               /*absolute to the child with top 0px left 0px*/
    left:0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
  transform: translate(460px,-100px) rotate(180deg);
  transition: all 0.2s 0.4s ease-in-out;

}
.imgcontent h1 {
    text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
.imgcontent a {
    margin-top:15px;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transform: translateY(-200px);
  transition: all 0.2s ease-in-out;
}
.imgcontent a:hover {
  box-shadow: 0 0 5px #fff;
}
section:hover .imgcontent {
  opacity: 1;
  transition-delay: 0s;
  transform: translate(0px, 0px);
}
section:hover h1 {
  transform: translateY(0px);
  transition-delay: 0.5s;
}

section:hover a {
  transform: translateY(0px);
  transition-delay: 0.3s;
}
.imgcontent span{
    display: block;
    margin-top:20px;
}
section span input{
    width:100px;
    height: 30px;
    outline: 0px;
    border:0px;
    cursor: pointer;
    margin: 10px;
    background-image: linear-gradient(#0c544f,#63ccbe);
    color:white;
    text-shadow: 0.5px 0.5px 0.5px black;
    border-radius: 25px;
}
section span input:active{
    background-image: linear-gradient(#63ccbe,#0c544f);
}
.brandname {
			font-size:30px;
			color:white;
			margin-left:400px;
			margin-top:5px;
			text-decoration:underline;
			font-family:Copperplate Gothic Bold;		
}
/*navpane start*/
#navpane{
    display: inline-block;
    background: rgba(14, 14, 14, 0.96);
    height: 100%;
    width:0px;
    position: fixed;
    z-index: 4;
    left:0px;
    top:0px;
    overflow: auto;
    transition: 0.5s ease-in-out;
    
}
.closebtn{
    padding: 0px 5px;
    color:#fff;
    float: right;
    font-size: 50px;
    transform: rotate(0deg);
    transition: 0.5s;
    cursor: pointer;
}
 .closebtn:hover{
    transform: rotate(180deg);
}
#listcontainer{
    margin-left: 10px;
    margin-top:50px;
    width:270px;
}
#listcontainer .switchbtn{
    padding: 8px;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    background-color:rgba(32, 178, 170, 0.83);

}
#listcontainer .switchbtn::after{
    content: '+'; /* Unicode character for "plus" sign (+) */
    float: right;
}
#listcontainer .active{
    background: #0e847d;
    color:#fff;
}
#listcontainer .active::after{
     content: "-"; /* Unicode character for "minus" sign (-) */
}
#listcontainer .list{
    padding: 0 30px;
    color:#fff;
    font-family: sans-serif;
    text-align: justify;
    height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    display: block;
    font-size: 16px ;
    list-style-type: square;
}
.list li{
    display: block;
    margin:5px 0px;
}
.list li a {
	color:#7abd7f;
    text-decoration: none;
}
#listcontainer .show{
    height: 220px;
}
#map{
    float: left;
    width:100%;
    height:300px;
   border:1px solid gray;
}
.mapimg{
    float: left;
    width:240px;
    height:300px;
	margin-left:10px;
	text-align:center;	
}
.mapimg2 {
    float: center;
    width:250px;
    height:300px;
	margin-left:10px;
    margin-top:0px;
}
footer{
    float: left;
    text-align: center;
    width:100%;
    /*background: rgba(23, 22, 22, 0.1);*/
	background-image: linear-gradient(#272727,#636363);
	
	border-top:2px solid gray;
}
.box3 {
      height:150px;
	  width:250px;
	  float:left;
	  margin-top:10px;
	  margin-left:40px;
	  border-left:2px solid rgba(128, 128, 128, 0.28); 
}
.p1 {
	color:white;
	font-size:18px;
	margin-top:5px;
	margin-left:5px;
	/*float:left;*/
	text-decoration:underline;
    padding: 20px;
     display: inline-block;
}
.p4 {
     /*color:#13d754;*/
	 color: rgb(136, 136, 136);
	 /*color:gray;*/
	 font-size:16px;
	 margin-top:10px;
     font-weight:bold;
	 /*margin-left:40px;*/
		   transition:0.2s;
	 
	
	 
}
.p4 a{
    color:rgb(136, 136, 136);
    text-decoration: none;
}
.p4:hover {
           color:seagreen;
		   cursor:pointer;

}
.p5 {
	 color: rgb(136, 136, 136);
	 font-size:16px;
	 margin-top:40px;
     font-weight:bold;
	 margin-left:5px;
	 
	
	 
}
.p5:hover {
           color:seagreen;
		   transition:0.2s;
		   cursor:pointer;
}
.p1 a {
	color:white;
}
.p1 a:hover {
	       margin-left:10px;
		   color:lightseagreen;
		   transition:0.5s;
}
.p3 {
	color:#fff;
	font-size:15px;
	margin-left:300px;
    float: left;
	margin-top:15px;
	border-top:5px solid rgba(128, 128, 128, 0.28);
}

footer>#links{
    text-align: center;
    
}
footer>#links>a>img{
    width:80px;
    height: 50px;
	margin-top:50px;
	float:right;
	margin-left:10px;
	
	
}
footer{
    float: left;
}
footer>span{
color:#fff;
float:center;
margin-top:110px;
margin-right:0px;
}

/*Shattar start*/
#panal{
    position: fixed;
    left:0px;
    top:0px;
    height: 0px;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.8);
    /*background: green;*/
    transition: 0.5s;
    width:100%;
    overflow: hidden;
}


#shattarcontainer{
    width: 805px; 
	height: 320px;
    overflow: hidden;
    position: absolute;
    top:0px;
    left: 20%;
	margin: 180px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
#shattarcontainer ul{
    list-style-type: none;
}
#shattarcontainer li img{
    display: block;
    width:640px;
    height: 320px;
}
#shattarcontainer li{ 
    background: red;
    position: relative;
    width: 160px;
    display: block;
    border-left: 1px solid #888;
    float: left;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition:0.5s;
}
 #shattarcontainer ul:hover li {width: 40px;}
#shattarcontainer ul li:hover {width: 640px;}

#shattarcontainer span{
     	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
    background-color:lightseagreen;
 }
 #shattarcontainer .image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	 bottom: 0;	
	width: 640px;	

}
#panal h1{
    color:#fff;
    font-size: 40px;
    text-align: center;
    transition: 1s;
    transition-delay: 1s;
    overflow: hidden;
    position: relative;
    top:-90px;
    transform: rotate(0deg);
}






/*image open in products box*/
.modelcontainer{
    /*background-image: url("img/background.jpg");*/
    border:1px solid #fff;  
padding: 10px;
float: left;
 margin:10px 20px;
width: 28%;
height: 250px;
cursor: pointer;
background-color:white;
border:2px solid seagreen;
}
.modelcontainer>img{
    width:100%;
    height: 100%;
   border-radius: 5px;
    cursor: pointer;
	
}
.modelcontainer>img:hover{
    opacity: 0.7;
}
.model{
    cursor: auto;
    z-index: 100;
    text-align: center;
    background: rgba(225,225,225,0.8);    
    position: fixed;
    left:0px;
    top:0px;   
    color:#fff;
    overflow: hidden;
    transition: 0.5s;
    display: none;
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    
}
.modelspan{
    float: right; 
    font-size: 50px;
}
.model-content{
    color:#fff;
    text-align: center;
    display: block;
    animation-name: zoom;
    animation-duration: 0.6s;

}

.model img{
    width:350px;
    height: 350px;
    cursor: pointer;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.detail{
    display: block;
    position: relative;
    left:-10px;
}
.detail a{
    display: inline-block;
    text-decoration: none;
    padding: 6px;
    letter-spacing: 0.5;
    width:100px;
    outline: 0px;
    border:0px;
    color:#fff;
    background: none;
    border:1px solid #fff;
    height: 30px;
    margin-right: 20px;
    margin-top:10px;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.detail a:hover{
    background: #fff;
    color:#171616;
}


/*contact us*/
.map{
	width:100%;
}
.map img{
	width:100%;
	}
	#contactus  h1{
		
		font-size:30px;
		color:#fff;
		text-transform:uppercase;
		padding:5px;
		border-bottom:4px solid gray;
		margin:5px;
}
#contactus p{
	padding:10px;
	color:#ccc;
	font-size:20px;
    margin-bottom: 50px;
}
#contactus form{
	width:100%;
    background-color: rgba(18, 60, 160, 0.43);
	display:block;
    color:#fff;
	margin:auto;
    padding: 10px;
    font-size: 20px;
    float: left;
}
hr{ 
    margin: 30px auto;
    width: 800px;
    border:0.1px solid black;
    border-bottom: 0px;
}
input[type="text"], input[type="email"],input[type="password"]{
    width: 300px;
    height: 30px;
    outline: 0px;
    border: 0px;
    margin-left: 10px;
    padding-left: 10px;
    background: none;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid lightseagreen;
    border-left: 2px solid lightseagreen;
    transition: 0.2s;}
input[type="text"]:focus,  input[type="email"]:focus{
        width: 330px;
}
#textarea{
    padding: 10px;
    outline: 0px;
    border:0px;
    width:500px;
    border: 2px solid lightseagreen;
}
#message{
    position: relative;
    top:-150px;
    display: inline-block;
}